# This file tells Git which files shouldn't be added to source control

.DS_Store
.idea
.env
dist
node_modules
apify_storage
crawlee_storage
ci-storage/key_value_stores/defaultSDK_SESSION_POOL_STATE.json
storage
.cookies.json
